fastapi
uvicorn[standard]
sqlalchemy
python-multipart
python-jose[cryptography]
passlib[bcrypt]
email-validator
pydantic
asyncpg
psycopg2-binary
python-dotenv
bcrypt==3.2.2
greenlet
pytest
Authlib
httpx
itsdangerous
gunicorn